/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "Nike-regular";
  src: url("../fonts/TradeGothicForNike365.woff");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* default font */
}

body * {
  font-family: inherit;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

.icons {
  color: grey;
  padding: 50px 50px;
}

.icons a:hover {
  color: blue;
}

.topnav{
    text-align:center;
    border-bottom: 1px solid #D3D3D3;
}

.topnav a{
  display: inline-block;
  font-family: "Nike-regular";
  font-size: 15.5px;
  color: #000;
  letter-spacing: .4px;
  padding: 20px;
  padding: 30px 20px;
  right: 20%;
  left: 20%;
  text-decoration: none;
}

.topnav a:hover {
  border-bottom: 2px solid #111;
  padding-bottom: 28px;
}

.container {
  padding: 0px 50px;
}

.card {
  position: relative;
}

.image-container {
  width: 100%;
}


.text-container {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 60%;
  bottom: 0;
}

.text-container h1 {
  font-size: 55px;
  letter-spacing: -2px;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-size: 50px;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.text-container p {
  font-family: Nike;
  font-size: 15px;
  color: #fff;
}
