/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "Nike-regular";
  src: url("../fonts/TradeGothicForNike365.woff");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* default font */
}

body * {
  font-family: inherit;
}

img {
  width: 100%;
}

/* FONT DEFAULTS */
h1 {
  font-size: 72px;
  font-weight: 600;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 0.83;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.6;
}

h3 {
  font-size: 50px;
  font-weight: 600;
  line-height: 0.83;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #111;
}

/* FLEX UTILS */
.flex {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

/* BUTTONS */
a.btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 8px 28px;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  transition: background-color 0.5s;
}

a.btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

a.btn.btn-dark {
  background-color: rgb(17, 17, 17);
  color: #fff;
}

a.btn.btn-dark:hover {
  background-color: rgba(17, 17, 17, 0.7);
}

/* TRANSPARENT */
.transparent {
  opacity: 0.5;
}

.transparent.hover {
  transition: opacity 0.5s;
}

.transparent.hover:hover {
  opacity: 1;
}

.transparent:hover {
  opacity: 1;
}

/* CONTAINER */
.container {
  width: 100%;
  padding: 0px 48px;
}

/* FULL WIDTH SECTIONS */
.full-width {
  width: 100%;
  margin-bottom: 70px;
}

.full-width h2 {
  margin-bottom: 25px;
}

/* ONE IMAGE */
.full-width-image {
  width: 100%;
  height: 700px;
  color: #fff;
  background-size: cover;
  position: relative;
}

.full-width-image.short {
  height: 600px;
}

.full-width-text {
  position: absolute;
  top: 48px;
  left: 48px;
}

.full-width-text.bottom {
  top: inherit;
  bottom: 48px;
}

.full-width-text h1 {
  margin-bottom: 8px;
}

.full-width-text h3 {
  margin-bottom: 8px;
}

.full-width-text p {
  margin-bottom: 24px;
}

/* TWO IMAGES */
.full-width-dual-image {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.full-width-dual-image .image {
  width: calc(50% - 10px);
  height: 600px;
  background-size: cover;
  position: relative;
}

.full-width-dual-text {
  position: absolute;
  left: 48px;
  bottom: 48px;
  color: #fff;
}

.full-width-dual-text.dark {
  color: #111;
}

.full-width-dual-text p {
  margin-bottom: 20px;
  font-size;
}


/* THREE IMAGES */


#hero-image {
  background-image: url(../images/product/desktop/product_5.jpg);
}

#second-image {
  background-image: url(../images/product/desktop/product_1.jpg);
}

#third-image {
  background-image: url(../images/product/desktop/product_9.jpg);
}

#fourth-image {
  background-image: url(../images/product/desktop/product_8.jpg);
}

#fifth-image {
  background-image: url(../images/product/desktop/product_4.jpg);
}

#sixth-image {
  background-image: url(../images/product/desktop/product_7.jpg);
}

#seventh-image {
  background-image: url(../images/product/desktop/product_10.jpg);
}

#eighth-image {
  background-image: url(../images/product/desktop/product_2.jpg);
}

#ninth-image {
  background-image: url(../images/product/desktop/product_6.jpg);
}

#tenth-image {
  background-image: url(../images/product/desktop/product_3.jpg);
}

/* LINK LIST */
.link-list {
  width: 100%;
  margin-bottom: 50px;
}

.link-list ul {
  width: 200px;
}

.link-list li:first-child {
  margin-bottom: 35px;
  font-weight: 500;
}

.link-list li:not(:first-child) {
  margin-bottom: 20px;
}

.link-list a {
  color: #8d8d8d;
  transition: color: 0.5s;
}

.link-list a:hover {
  color: #111;
}






















