/* RESET */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

@font-face {
  font-family: "Nike-regular";
  src: url("../fonts/TradeGothicForNike365.woff");
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* default font */
}

body * {
  font-family: inherit;
}

img {
  width: 100%;
}

/* FLEX */
.flex {
  display: flex;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-stretch {
  display: flex;
  align-items: stretch;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}

.flex-space-around {
  display: flex;
  justify-content: space-around;
}

/* NAV */
/* black cta bar */
.black-bar {
  width: 100%;
  height: 55px;
  background-color: #000;
}

.black-bar p {
  color: white;
  size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
}

/* grey navbar */
.header-grey {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.info-icons {
  align-items: bottom;
}

.info-icons li {
  padding: 10px 12px;
}

.info-icons a {
  font-size: 11.5px;
  text-decoration: none;
  color: grey;
}

.info-icons span {
  font-size: 18px;
}

.info-icons li:hover {
  border-bottom: 2px solid #111;
  padding-bottom: 10px;
}

.info-icons a:hover {
  color: #111;
}

.logos-container {
  display: inline-block;
}

.logos-container a {
  font-size: 12px;
}

.logos-container span:hover {
  color: rgb(31, 31, 31);
}

.logos-container a,
.logos-container span {
  font-size: 13px;
  text-decoration: none;
  color: grey;
  padding: 0px 20px;
  border-right: 1px solid #d3d3d3;
}

/* black navbar */
header-black {
  justify-content: space-between;
  padding: 0px 20px;
}

.swoosh span {
  font-size: 28px;
  margin: 0px 0px 0px 20px;
}

/* HOW TO GET HOVER UNDERLINE TO OVERLAP IMG?? */
.nav-links li {
  display: inline-block;
  padding: 28px 20px;
}

.nav-links li:hover {
  border-bottom: 2px solid #111;
  padding-bottom: 28px;
}

.nav-links li a {
  font-family: "Nike-regular";
  font-size: 15.5px;
  color: #111;
  letter-spacing: 0.4px;
  text-decoration: none;
}

.input-container {
  display: flex;
  border: 1px solid #d3d3d3;
  display: inline-block;
  border-radius: 2px;
  margin: 0px 20px 0px 0px;
}

.input-container span {
  font-size: 20px;
  padding: 30px 5px;
}

.input-container input {
  border: none;
  padding: 10px 10px;
  font-size: 13px;
}

.input-container input:focus {
  outline: none;
}

/* CONTENT */
.container {
  padding: 0px 50px;
}

/* FULL WIDTH SECTIONS */
.full-width {
  width: 100%;
  margin-bottom: 70px;
}

.full-width h2 {
  margin-bottom: 25px;
}

h1 {
  font-size: 65px;
  line-height: 55px;
  letter-spacing: -2px;
  font-family: Nike, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.text-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  margin-bottom: 24px;
  width: 65%;
}

.title-text p {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #111;
  margin-bottom: 30px;
}

.text-hero-one {
  position: absolute;
  top: 30px;
  left: 30px;
  right: 60%;
  bottom: 0;
}

.winter-workout {
  position: relative;
}

.text-hero-two {
  position: absolute;
  top: 60%;
  left: 5%;
  right: 0;
  bottom: 35%;
}

.text-hero-two h1 {
  font-size: 41px;
  line-height: 36px;
  letter-spacing: -1.5px;
}

/* BUTTONS */
button {
  font-family: "Helvetica Neue";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px;
  opacity: 1;
  transition: 0.3s;
  border: none;
}

.pill-button {
  text-align: center;
  border-radius: 25px;
  background-color: #fff;
  width: 100px;
}

.pill-button a {
  text-decoration: none;
  color: #111;
}

button:hover {
  opacity: 0.8;
}

.section-three-card {
  width: calc(100% / 2 - 8px);
}

.section-three-card-header {
  color: #fff;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 5%;
}

/* ONE IMAGE */

.full-width-image {
  width: 100%;
  height: 700px;
  color: #fff;
  background-size: cover;
  background-position: center;
  position: relative;
}

#hero-image {
  background-image: url(../images/product/desktop/product_5.jpg);
}

#second-image {
  background-image: url(../images/product/desktop/product_1.jpg);
}

#third-image {
  background-image: url(../images/product/desktop/product_9.jpg);
}

#fourth-image {
  background-image: url(../images/product/desktop/product_8.jpg);
}

#fifth-image {
  background-image: url(../images/product/desktop/product_4.jpg);
}

#sixth-image {
  background-image: url(../images/product/desktop/product_7.jpg);
}

#seventh-image {
  background-image: url(../images/product/desktop/product_10.jpg);
}

#eighth-image {
  background-image: url(../images/product/desktop/product_2.jpg);
}

#ninth-image {
  background-image: url(../images/product/desktop/product_6.jpg);
}

#tenth-image {
  background-image: url(../images/product/desktop/product_3.jpg);
}

/* MOBILE */
@media only screen and (max-width: 1080px) {
  .container {
    padding: 0px 15px;
  }
}

@media only screen and (min-width: 1068px) {
  .hero-mobile {
    display: none;
  }
}

@media only screen and (max-width: 1068px) {
  .hero-mobile {
    display: inherit;
  }
  .hero-desktop {
    display: none;
  }
}
